{% extends 'base/base.html' %}

{% load widget_tweaks %}


{% block header %}
  <a href="/"> <h1>  Raw Nutrition 🍎</h1></a>
  <div class="homepage-navbar navbar gap-3">
    <a href="/" class="btn btn-primary">Home</a>
  </div>
{% endblock %}

{% block content %}
<form method="post" class="d-flex flex-column gap-5 mx-auto" style="max-width:350px;">
    {% csrf_token %}
    <div class="form-group row">
    {% render_field form.username class="form-control" id="username" placeholder="Username" %}
    </div>
    <div class="form-group row">
    {% render_field form.password class="form-control" id="password" placeholder="Password" %}
    </div>
    
    {% if form.non_field_errors %}
        <div class="alert alert-danger">
            {{ form.non_field_errors }}
        </div>
    {% endif %}

    <button type="submit" class="btn btn-primary">Login</button>
    <p><a href="{% url 'password_reset' %}">Forgot your password?</a></p>
    <p>Don’t have an account? <a href="{% url 'register' %}">Register here</a></p>
</form>
{% endblock %}
