
  <a href="/"> <h1>  Raw Nutrition 🍎</h1></a>
  <div class="homepage-navbar navbar gap-3">
    {% if user.is_authenticated %}
        <li class="nav-item dropdown" style="list-style: none;">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{ user.username}}
          </a>
          <ul class="dropdown-menu">

            <li><a class="dropdown-item" href="/profile">View Profile</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/logout">Logout</a></li>
          </ul>
        </li>
    {% else %}
      <a href="/register" style="text-decoration: underline; text-underline-offset: 2px;">Register</a>
      <a href="/login" class="btn btn-primary">Login</a>
    {% endif %}
  </div>